.row{
  display: flex;
  flex-direction: row;
}
body{
  background-color: blue;
}
.titulo{
  font-size: 2rem;
  color:white;
}
.esquerda{
  margin-left: 3rem;
  width: 500px;
}
.inputCadastro{
  width: 250px;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 10px;
}
.inputCadastroCostumer{
  width: 250px;
  border-radius: 10px;
  height: 20px;
  margin-bottom: 10px;
}
.button1{
  color: white;
  background-color:  rgb(40, 93, 190);
  border: none;
  border-radius: 10px;
  width: 260px;
  height: 30px;
}
.button2{
  color: white;
  background-color:  rgb(14, 16, 136);
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-left: 10px;
}
.nomeReserva{
  color:azure;
  font-size: 2rem;
  background-color: rgb(40, 93, 190);
  padding: 10px;
  padding-left: 14px;
  margin-top: 14px;
  width: 260px;
  border-radius: 10px;
}
.card-container{
  background-color: rgb(40, 93, 190);
  color:azure;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;

  margin-top: 10px;
}
.food{
  font-size: 1rem;
  background-color: blue;
  padding-left: 12px;
  margin-left: 10px;
  border-radius: 12px;
  min-width: 50px;
  height: 25px;
}
.input-costumer{
  margin-left: 10px;
}